<div class="form-card">
  <div class="card-header" mat-dialog-title>
    <h3>{{ data.title }}</h3>
  </div>
  <div class="card-content">
    <mat-dialog-content>
      <div class="form-group">
        <label for="name" class="form-label">{{ data.message }}</label>
      </div>
    </mat-dialog-content>

    <div class="form-actions" mat-dialog-actions align="end">
      <button type="button" class="btn btn-secondary" (click)="onDismiss()">
        <span class="btn-icon">❌</span>
          Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="onConfirm()">
        <span class="btn-icon">☑️</span>
          Confirm
      </button> 
    </div>
  </div>
</div>