:host {
  display: block;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  border-radius: 20px;
}

[mat-dialog-title] {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.alert.error {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
}